html {
  box-sizing: border-box;
  
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
    font-size: 62.5%
}

body {
  background-color: gray;
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
}

nav {
  background-color: white;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
}

/* main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} */

h1 {
  font-size: 3.6rem;
}


#background-image{
  background-image: url("https://images.unsplash.com/photo-1604677657548-4ced0c4f40c6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1131&q=80");
  width:80%;
  height:700px;
  background-size: cover;

  color:red;
}

#trail-1{
  height:200px;
  width:200px;
  background-image: url("https://images.unsplash.com/photo-1440186347098-386b7459ad6b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80");
  background-size: cover;

}

a{
  font-size:10px;
}

input{
  height:30px;
  display:block;
  margin-left:55px;

}

#display-trails-index{
  width:800px;
  height:500px;
  
  display:flex;
  
  justify-content: space-around;
  align-items: center;
}

#trails-individual{
  background-color: blanchedalmond;
  width:100px;
  height:100px;
}

.container-sm{
  width:700px;
  height:200px;
  background-image: cover;

 
}

.container img{
  width:100%;
  
  margin-left: 280px;
}
.form-control{
  width:500px;
  margin-bottom: 30px;

}

.info{
  width:400px;
  height: 500px;
  font-size: 15px;
  margin-top: -180px;
}
