html {
  box-sizing: border-box;
  
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
    font-size: 62.5%
}

body {
  background-color: gray;
  /* background-image: url("https://images.unsplash.com/photo-1558481795-7f0a7c906f5e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1796&q=80"); */
  background-image: url("https://images.unsplash.com/photo-1581291184976-f565a4574764?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1740&q=80");


  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  
}

nav {
  background-color: white;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
}



h1 {
  font-size: 3.6rem;
}


#background-image{
  background-image: url("https://images.unsplash.com/photo-1604677657548-4ced0c4f40c6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1131&q=80");
  width:80%;
  height:700px;
  background-size: cover;

  color:red;
}

#trail-1{
  height:200px;
  width:200px;
  background-image: url("https://images.unsplash.com/photo-1440186347098-386b7459ad6b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80");
  background-size: cover;

}

a{
  font-size:10px;
}

input{
  height:30px;
  display:block;
  margin-left:55px;

}

#display-trails-index{
  width:100vw;
  height:500px;
  
  display:flex;
  flex-wrap: wrap;
  
  justify-content: space-evenly;
  
}
.index-img{
  width: 20%;
  margin:calc(10%/6)
  
 
}
.index-img img{
  width:100%;
  height: 300px;
  
}

#trails-individual{
  /* background-color: blanchedalmond; */
  background-color: black;
  /* display:flex;
  justify-content: center; */
  height:20px;
  display: flex;  
  align-items: center;
  
  
  
}
a{
  color:black
}

.container-sm{
  width:700px;
  height:200px;
  background-image: cover;
  margin-left: 500px;
  
 
}

.container img{
  width:100%;
  
  margin-left: 280px;
  margin-top: -80px;
}
.form-control{
  width:500px;
  margin-bottom: 30px;

}
/* name of trail in show page */
.trail-name{
  color:white;
  margin-left:0 auto;
}
.black{
  margin-left:50px;
}
/* location of trail in show page */
.place-info{
  width:300px;
  font-size:20px;
  color:white;
  font-weight: bolder;

}
/* Post Owner */
.credit-info{
  width:200px;
  font-size:20px;
  font-weight: bolder;
  color:white;
  }

.info{
  width:400px;
  height: 500px;
  font-size: 15px;
  margin-top: -180px;
}

/* comment owner */

#comment-owner{
  color:white;
  font-weight: bolder;
  font-size:15px;
  
}
#comment-owner-each{
  
  margin-bottom:30px;
  color:white;
  font-size: 17px;
  background-color:grey;
  width:300px;
  padding:5px;
}
#comment-name{
  color:white;
  font-weight: bolder;
  font-size: 15px;
}
/* #comment-body{
  color:white;
  font-weight:bolder;
  font-size: 15px;
} */

.edit-info a{
  width:200px;
  font-size:15px;
  color:black;
  }

  .edit-info{
    width:50px;
    font-size:15px;
    padding: 10px;
    margin: 10px 0 10px 0;
    }
   /* trail comments */
  .comment{
    width:300px;
    color :red;
    
    background-color: bisque;
  }
 


/* index view */

#trail-name{
  color:white;
  font-weight: bolder;
  text-decoration: none;
  font-size: 25px;
}
a{
  text-decoration: none;
}

#trail-name:hover{
  color:red
}
button:hover{
  color:red
}

/* edit page */
#edit-page{
  background-image: url("https://images.unsplash.com/photo-1530173235220-f6825c107a77?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1548&q=80");
  
  height:800px;
 

}

#content-edit{
  margin-left:500px;
  margin-bottom: 10px;
  
}
@media screen and (max-width:1392px) {
  #trail-name{
    font-size: 18px;
  }
  
}

@media screen and (max-width:900px) {
  .index-img{
    height:200px;
    margin:20px;
  }
  #trail-name{
    font-size: 10px;
    margin-top: -120px;
  }
  #trails-individual{
    margin-top: -80px;
  }
  
}

@media screen and (max-width:800px) {
  .index-img{
    height:200px;
    width: 200px;
    margin:20px;
  }
  #trail-name{
    font-size: 10px;
    margin-top: -120px;
  }
  #trails-individual{
    margin-top: -80px;
  }
  
}

@media screen and (max-width:600px) {
  .index-img{
    height:100px;
    margin:20px;
  }
  #trail-name{
    font-size: 10px;
    margin-top: -120px;
  }
  #trails-individual{
    margin-top: -180px;
  }
  
}

@media screen and (max-width:500px) {
  .index-img{
    height:150px;
    width:350px;
    margin:20px;
  }
  #trail-name{
    font-size: 10px;
    margin-top: -120px;
  }
  #trails-individual{
    margin-top: -120px;
  }
  
}




@media screen and (max-width:400px) {
  .index-img{
    height:60px;
    width:150px;
    margin:20px;
    background-size: cover;
  }
  #trail-name{
    font-size: 10px;
    margin-top: -70px;
  }
  #trails-individual{
    margin-top: -200px;
  }
  
}
@media screen and (max-width:370px) {
  .index-img{
    height:260px;
    width:250px;
    margin:20px;
    background-size: cover;
    border:1px solid black;
    border-radius: 10%;
    margin-bottom: 20px;
  }
  #trail-name{
    font-size: 10px;
    margin-top: -70px;
  }
  #trails-individual{
    margin-top: -20px;
  }

 
  body{
    background-image: url("https://images.unsplash.com/photo-1534175507998-e5477e27c2c7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
  }
  
}